curl -X POST --header "Content-Type: application/json-patch+json" -d "{ \    'content':  \      {} \    , \    'publishTime': '2017-11-08T20:09:56.153Z', \    'id': 'string' \  }" "https://localhost:8080/mattias"